{% extends "main.html" %}

{% block styles %}

{{ super() }}

<style>
  :root {
    --md-stars-url: url(assets/images/stars-black.svg);
    --md-stars-opacity: .08;
  }

  [data-md-color-scheme="slate"] {
    --md-stars-url: url(assets/images/stars-white.svg);
    --md-stars-opacity: .08;
  }

  .md-main {
    position: relative;
    text-shadow: 0px 0px 1px var(--md-default-fg-color--lightest);
  }

  .md-main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -10;
    opacity: var(--md-stars-opacity);
    background-image: var(--md-stars-url);
  }

  .md-main__inner.md-grid {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    height: 100%;
    align-content: center;
  }

  .md-content {
    flex-grow: 1;
    flex-shrink: 0;
    align-self: center;
  }

</style>
{% endblock %}

{% block content %}

<h1>404 - Uh oh... are you lost?</h1>
<p>You must have taken a wrong turn! There's nothing but the stars here...</p>

{% endblock %}
