<footer>
  <div id="mainfooter">
    {% comment %} NOTE: Place content inside this block, not directly in the footer {% endcomment %}

    This will become a proper footer.
    {% comment %}
    Get in touch with me:
    <ul>
      <li>Write me an email: substitute gabriele and ara in {name.surname}@santannapisa.it <button>I am lazy, do that
          for
          me</button></click>
      </li>
      <li>Buy me a lemon tea $$$</li>
      <li>???</li>
      <li>???</li>
    </ul>
    {% endcomment %}
  </div>
</footer>
