<header id="mainheader">
  <div class="pic">
    <a href="/">
      <img src="/assets/images/me.svg" />
    </a>
  </div>
  <div class="banner">
    <a href="/">Gabriele Ara</a>
    <span>&nbsp;is a PhD Student</span>
  </div>
  <nav id="topnav">
    {% comment %} The navigation is built from the _data/navigation.yml file {% endcomment %}
    <span class="menu" onclick="topnav_menu_toggle()">menu</span>
    <ul class="l1-list">
      {% for item in site.data.navigation %}
      <a {% if page.link == item.link %}class="current" {% endif %} href="{{ item.link }}"><li>{{ item.name }}</li></a>
      {% endfor %}
    </ul>
  </nav>
  <script>
    function topnav_menu_toggle() {
      var menu = document.querySelector('#mainheader nav .menu');

      if (hasClass(menu, 'active')) {
        removeClass(menu, 'active');
      } else {
        addClass(menu, 'active');
      }
    }  
  </script>
</header>
