@import "normalize";

// I find myself more comfortable with these default settings
// For position: relative or absolute remember to put content-box and try it out
* {
  box-sizing: border-box;
}

@import "typography";

button,
.button {
  color: var(--foreg);
  background-color: transparent;
  border-radius: 0.3rem;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: 2px solid var(--foreg);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    color: var(--backg);
    background-color: var(--hover);
    outline: none;
    outline-offset: -4px;
    border-color: transparent;
}

button:active,
.button:active {
    transform: scale(1);
}

/*********************** HOLY GRAIL ***********************/

$page-width: 60rem;

// Use this to center page content when wider than the
// maximum page-width supplied
@mixin center-page-content($max-width: $page-width) {
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
}

// Minimum height to viewport, horizontally centered
body {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: var(--backg);
  margin: 0;

  overflow-x: hidden;
}

// Stretch if smaller
body > .content {
  flex: 1 0 auto;
}

// Do not shrink
body > header,
body > footer {
  flex-shrink: 0;
  margin: 0;
}

// First elements in body have always full page width
body > * {
  width: 100vw;
}

// Their direct children are the actual content,
// which is limited to a certain maximum value
body > * > * {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
  @include center-page-content;
}

/************************* THEMES *************************/

@import "themes";

.background404 {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-size: 300px;
  background-position: 0 0;
  background-repeat: repeat;
  opacity: .08;
  background-image: url($backg404-light);
  z-index: -1;
  pointer-events: none;
}

// Set default theme variables (i.e. light theme)
:root {
  @include theme-default;
}

// Fallback to dark theme as default when dark color scheme is preferred.
@media screen and (prefers-color-scheme: dark) {
  :root {
    @include theme("dark");
  }

  .background404 {
    opacity: .02;
    background-image: url($backg404-dark);
  }
}

// The following two classes, when added to the <html> element
// force the use of either one theme or the other, independently from system settings

// Overrides the theme with the light theme
:root.force-light {
  @include theme("light");

  .background404 {
    opacity: .08;
    background-image: url($backg404-light);
  }
}

// Overrides the theme with the dark theme
:root.force-dark {
  @include theme("dark");

  .background404 {
    opacity: .02;
    background-image: url($backg404-dark);
  }
}

body {
  color: var(--text);
  background-color: var(--backg);
}

.light {
  color: var(--text-secondary);
}

@import "theme-toggler";

/************************* LINKS **************************/

// Default:
// - no decoration for any link (if not inherited)
// - disabled links will look like normal text
a {
  text-decoration: inherit;
  outline: none;
  transition: color 0.2s ease;
}

// Enabled links
a:link,
a:visited {
  color: var(--accent-light);
}

// Hover on enabled links
a:link:hover,
a:visited:hover,
a:link:active,
a:visited:active {
  color: var(--accent);
  // TODO: what to do when the background is not the standard one for a link
}

// When an a link is the only child,
// it will fill its container
// a:only-child {
//   display: inline-block;
//   width: 100%;
//   height: 100%;
// }

/************************ SANDBOX *************************/

footer {
  margin-bottom: 20px;
}
