/********************** HEADER BEGIN **********************/

#mainheader {
  position: relative;
  width: 100%;
}

#mainheader * {
  margin: 0;
}

#mainheader > * {
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include center-page-content;
}

#mainheader > :first-child {
  margin-top: 1rem;
}

#mainheader > :last-child {
  margin-bottom: 1rem;
}

/* ---------------------- PICTURE ----------------------- */

#mainheader .pic {
  width: 8rem;
  height: 8rem;
  position: relative;
  overflow: hidden;
  border-radius: 50% 50%;
  padding: 0;
  line-height: 8rem;
}

#mainheader .pic img {
  position: absolute;
  top: -35%;
  width: 100%;
  height: auto;
}

/* --------------- NAME AND QUALIFICATION --------------- */

#mainheader .banner {
  font-size: var(--font-size-h4);
  display: flex;
  flex-flow: row wrap;
  height: calc(1.01 * var(--font-size-h3));
  overflow: hidden;
  align-items: baseline;
  justify-content: center;
}

$mainname: "#mainheader .banner a";

#{$mainname} {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
  color: var(--color-foreg);
  box-shadow: 0 3px black;
}

/* --------------------- NAVIGATION --------------------- */

$topnav: "#mainheader nav";

#{$topnav} {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .menu {
    padding: 0.75rem 1.5rem;
    display: none;
    @extend .button;
  }

  .menu:hover,
  .menu.active {
    cursor: pointer;
    color: var(--backg);
    background-color: var(--foreg);
  }

  /* ------ NAV LIST ------ */

  .l1-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;

    > * {
      @extend .button;
      border-color: transparent;
      color: var(--link);
      background-color: rgba(255, 255, 255, 0);
    }

    > :hover,
    > :active,
    > .current {
      color: var(--backg);
      background-color: var(--link);
    }

    a {
      color: inherit;
    }

    /* ------ HORIZONTAL ------ */
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    > :first-child {
      margin-left: 0rem;
    }

    > :last-child {
      margin-right: 0rem;
    }
  }

  /* ------ VERTICAL ------ */

  @media only screen and (max-width: 700px) {
    .menu {
      display: block;
    }

    .menu ~ .l1-list {
      max-height: 0;
      overflow: hidden;
    }

    .menu.active ~ .l1-list {
      max-height: 500px;
    }

    .l1-list {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      > * {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0;
      }

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }
  }
}
/*********************** HEADER END ***********************/
