// Simple single-color palette
$color-light-primary-0: #AA3939;
$color-light-primary-1: #FFAAAA;
$color-light-primary-2: #D46A6A;
$color-light-primary-3: #801515;
$color-light-primary-4: #550000;

// Simple single-color palette (for dark)
$color-dark-primary-0: lighten(#009999, 25%);
$color-dark-primary-1: lighten(#46B2B2, 25%);
$color-dark-primary-2: lighten(#249F9F, 5%);
$color-dark-primary-3: lighten(#007676, 5%);
$color-dark-primary-4: lighten(#005D5D, 5%);

// Light theme
$backg:             #F0F2F5;
$backg-card:        #FFFFFF;
$foreg:             #121212;
$light:             #65676B;
$accent:            $color-light-primary-3;
$accent-light:      $color-light-primary-0;
$shadow-1-light:   rgba(0, 0, 0, 0.1);
$shadow-2-light:   rgba(0, 0, 0, 0.2);
$shadow-3-light:   rgba(0, 0, 0, 0.5);

// Dark theme
$dark-backg:        #18191A;
$dark-backg-card:   #242526;
$dark-foreg:        #E4E6EB;
$dark-light:        #B0B3B8;
$dark-accent:       $color-dark-primary-0;
$dark-accent-light: $color-dark-primary-2;
$shadow-1-dark:    rgba(255, 255, 255, 0.1);
$shadow-2-dark:    rgba(255, 255, 255, 0.2);
$shadow-3-dark:    rgba(255, 255, 255, 0.5);

$themes: (
  light: (
    backg:          $backg,
    backg-card:     $backg-card,
    foreg:          $foreg,
    text:           $foreg,
    text-secondary: $light,
    accent:         $accent,
    accent-light:   $accent-light,
    link:           $accent-light,
    hover:          $accent,
    shadow-1:       $shadow-1-light,
    shadow-2:       $shadow-2-light,
    shadow-3:       $shadow-3-light,
  ),
  dark: (
    backg:          $dark-backg,
    backg-card:     $dark-backg-card,
    foreg:          $dark-foreg,
    text:           $dark-foreg,
    text-secondary: $dark-light,
    accent:         $dark-accent,
    accent-light:   $dark-accent-light,
    link:           $dark-accent,
    hover:          $dark-accent-light,
    border:         transparent, // TODO
    shadow-1:       $shadow-1-dark,
    shadow-2:       $shadow-2-dark,
    shadow-3:       $shadow-3-dark,
  ),
);

// Declares all the variables in the theme
@mixin theme($name) {
  $the-theme: map-get($themes, '#{$name}');

  @each $key, $value in $the-theme {
    --#{$key}: #{$value};
  }
}

// Declares all the variables in default theme
@mixin theme-default {
  @include theme('light');
}

// Defines all the themes, each with its own class
// Classes are used only to set variables
@mixin define-themes() {
  @each $theme-name, $theme in $themes {
    .theme-#{$theme-name} {
      @include theme('#{$theme-name}');
    }
  }
}

// With this command, I am here expanding each theme
@include define-themes();
