:root {
    --accent-color-light: rgb(0, 200, 170);
    --accent-color-dark: rgb(68, 147, 153);
    /* --accent-color-mid: rgb(34, 174, 162);
     */
    --accent-color-mid: rgb(17, 187, 166);
    --background-color-light: rgb(126, 130, 137);
    --background-color-dark: #313c4e;
    --background-color-darker: #222a33;
}

* {
    margin: 0pt;
    padding: 0pt;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-variant-ligatures: none;

    /* To deal with nested flexboxes */
    min-width: 0;
    min-height: 0;
}

body {
    background-color: white;
}

.center-viewport {
    position: relative;
    max-width: 990px;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0em 3em;
}

.mainheader {
    background-color: var(--background-color-dark);
    color: white;

    padding: 2em 0em;
}

.flex-group {
    /* Flex Stuff */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 2em;
}

.pic-holder {
    flex: none;
    position: relative;
    overflow: hidden;
    width: 8em;
    height: 8em;
    background-color: white;
    padding: 0pt;
    border-radius: 50%;
    background-color: var(--accent-color-dark);

    /* To center the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-holder .img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-repeat: no-repeat;

    background-position: 50% 33%;
    background-size: 190%;

    /* background-position: 50% 32%;
        background-size: 240%; */
}

.headgroup {
    display: flex;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: .1em;
}

.headgroup h1 {
    font-size: 2em;
    font-weight: 400;
}

.headgroup span[role=doc-subtitle] {
    color: var(--accent-color-light);
    font-size: 1.1em
}

.headgroup p {
    margin-top: .5em;
    overflow-wrap: break-word;
}

.mainnav {
    background-color: var(--background-color-darker);
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.mainnav ul {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: .5em;
    row-gap: 1em;
    margin: 1em 0em;
    list-style: none;
    font-size: .9em;
}

.mainnav li {
    display: block;
    width: 49.5%;
    height: 1.5em;
}

.mainnav li .navtext {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    gap: .75em;
}

.mainnav li span.icon {
    display: inline-block;
    width: 1em;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    transform: translate(0px, -10%);
}

@media print {
    @page {
        size: A4;
        /* bleed: 5em; */
        margin-right: 0em;
        margin-left: 0em;
        margin-top: 2em;
        /* margin-bottom: 1.29em; /* Absolute maximum */
        margin-bottom: 2.19em;

        @bottom-right {
            content: "Page " counter(page) " of " counter(pages);
            margin-right: 3em;
            margin-bottom: 2.19em;
            color: var(--background-color-light);
        }

        @bottom-left {
            content: "October 6, 2023";
            margin-left: 3em;
            margin-bottom: 2.19em;
            color: var(--background-color-light);
        }
    }

    @page:first {
        margin-top: 0em;
    }

    body {
        font-size: 10pt;
    }

    * {
        print-color-adjust: exact;
    }

    .pic-holder {
        width: 10em;
        height: 10em;
        margin-right: .5em;
    }
}

/*-----------------------------------------------------------------------*/

.main-columns {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    gap: 2em;
}

.main-columns .column.main {
    flex-basis: 100%;
    order: 1;
}

.main-columns .column.secondary {
    flex-basis: 100%;
    order: 2;
}

@media (min-width: 700px) {
    .main-columns .column.main {
        flex: 2
    }

    .main-columns .column.secondary {
        flex: 1
    }
}

@media print {
    .main-columns .column.main {
        flex: 2;
    }

    .main-columns .column.secondary {
        flex: 1;
    }
}

/*
@media print {
    /* Only single columns works best when converted to PDF
    .main-columns {
        display: block;
    }
} */

/* .main-columns {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.main-columns .column.main {
    display: block;
    float: left;
    width: 300px;
    margin-right: 2em;
}

.main-columns .column.secondary {
    display: block;
    float: right;
    width: 300px;
    margin-left: 2em;
} */

/*-----------------------------------------------------------------------*/

.section h2 {
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 0.25em;
    margin-top: .5em;
    /* margin-top: 1.125em; /* CHANGE HERE TO FIT INSIDE THE PAGE WHEN PRINTING!!! */
    margin-bottom: .5em;
    font-size: 1.4em;
    color: var(--accent-color-dark);
    page-break-after: avoid;
}

/* .section:first-of-type h2 {
    margin-top: 0;
} */

.entry:first-of-type {
    page-break-before: avoid;
}

.entry {
    margin-top: 1em;
    margin-bottom: 1em;
    page-break-inside: avoid;
}

.entry:not(:first-of-type) {
    margin-top: 2.5em;
}

.entry .heading {
    position: relative;
    width: 100%;
    overflow: auto;
    --size-heading: 1.2em;
    margin-bottom: .75em;
}

.table {
    display: table;
    position: relative;
    width: 100%;
}

.tr {
    display: table-row;
    width: 100%;
}

.td {
    display: table-cell;
}

.entry .heading .left {
    font-size: var(--size-heading);
}

.entry .heading .right {
    text-align: right;
    font-style: italic;
    white-space: nowrap;
    color: var(--accent-color-dark);
}

.entry .heading .lang-right {
    font-style: italic;
    color: var(--accent-color-dark);
}

.entry .heading .title {
    font-weight: bold;
}

/*
.entry .heading:after {
    clear: both;
    content: "";
    display: table;
    margin-bottom: .75em;
}

.entry .heading .title {
    font-weight: bold;
}



.entry .heading .right {
    float: right;
    font-style: italic;
    color: var(--accent-color-dark);
}

.entry .heading .clear {
    clear: both;
} */

/* .entry .heading {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: .5em;
}

.entry .heading .left {
    max-width: 80%;
}

.entry .heading .right {
    text-align: end;
    color: var(--accent-color-dark);
    font-style: italic;
}

.entry .heading .left {
    font-size: 1.2em;
    line-height: 1.3em;
    ;
}

.entry h3 {
    font-size: inherit;
    font-weight: 700;
} */

.entry .desc {
    font-size: .91em;
}

.entry .desc-head {
    font-weight: normal;
    font-style: italic;
    color: var(--accent-color-dark);
    margin-bottom: .25em;
    margin-top: .75em;
}

.ul {
    margin-left: 1.25em;
    text-align: left;
    list-style: none;
}

.li {
    margin-top: .25em;
    margin-bottom: .25em;
}

.li::before {
    content: "\2022";
    /* Code of a bullet point in Unicode */
    color: var(--accent-color-dark);
    font-weight: bold;
    display: inline-block;
    width: .75em;
    font-size: 1.5em;
    margin-left: -.75em;
    line-height: 1em;
    transform: translate(0, 12%);
}

/* -------------------------------------------------------------------------- */

.skills .level {
    margin-top: .25em;
    font-weight: 500;
}

.skills ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: .5em;
    /* justify-content: flex-start; */
    /* align-items: center; */
    font-size: .95em;
    row-gap: 0;

}

.skills li {
    display: block;
    margin: .4em 0;
    padding: .4em .75em;
    border-radius: .4em;
    color: white;
    background-color: var(--background-color-light);

}

.skills li.highlight {
    background-color: var(--accent-color-dark);
}


/* ----------------------------------------------------------------------- */

a.colored {
    color: var(--accent-color-dark);
}

.publications h3 {
    font-size: 1.1em;
    margin-top: .25em;
    margin-bottom: .25em;
}

.publications p,
.publications ul {
    font-size: .95em;
}

.publications ul {
    margin-top: .5em;
}

.pub-authors {
    font-style: italic;
}

.pub-name {
    font-style: italic;
}

.pub {
    margin-top: .25em;
}

.bpa {
    color: var(--accent-color-dark);
}


.nobr {
    white-space: nowrap;
}

.thesis {
    margin-top: .5em;
}

.educ-head {
    font-weight: normal;
    font-style: italic;
    color: var(--accent-color-dark);
    margin-bottom: .25em;
    margin-top: .75em;
    white-space: nowrap;
    padding-right: 1em;
    width: 0.1%;
}

.smaller {
    font-size: .95em;
}

.nobr.space:after {
    content: ' ';
}


/* -------------------------------------------------------------------- */

@media print {
    .download {
        display: none;
    }
}

.download {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
}

.button {
    display: inline-block;
    position: relative;
    align-self: center;
    margin: 2em 0em 0em;
    background-color: var(--accent-color-mid);
    padding: 1em;
    border-radius: .25em;
    transition: background-color 0s, transform .2s cubic-bezier(0.5, 0.25, 0, 1);
}

.button:hover {
    background-color: var(--accent-color-light);
    /* transform: translateY(-5%); */
    transform: scale(1.1);
}
